@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
}

.scroll {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #88888875;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

main {
}

@layer base {
}

@layer utilities {
  body {
    @apply font-pretendard;
  }
  .text-balance {
    text-wrap: balance;
  }
  .blind {
    @apply absolute m-[-1px] size-[1px] overflow-hidden;
  }
  .center {
    @apply x-center y-center;
  }
  .x-center {
    @apply left-[50%] translate-x-[-50%];
  }
  .y-center {
    @apply top-[50%] translate-y-[-50%];
  }
  .inner {
    @apply w-full max-w-[1024px] mx-auto mo:px-xl;
  }
  .y-inner {
    @apply pt-[60px];
  }
}

@layer components {
}
